<div class="row">
    <div class="col-md-12 widget-container-col ui-sortable">
        <div class="widget-box ui-sortable-handle">
            <div class="widget-header">
                <h5 class="widget-title"> <i class="fa fa-search"></i> </h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="space space-14"></div>
                            <form id="frmconsultaalbum" name="frmconsultaalbum">

                                <div class="row">
                                    <div class="col-md-2">
                                        <label>&Aacute;lbum</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="albumSelect" name="albumSelect" class="select2 width-100 input-sm no-padding required"
                                                grupovalidacion="consultaalbum">
                                        </select>
                                    </div> 
                                </div>
                                <div class="form-actions center">
                                    <button type="button" id="btnconsultaAlbum" data-no-visualizar="true" data-toggle="tooltip"
                                            grupovalidacion="consultaalbum" class="btn btn-primary  btn-sm" title="Visualizar Album">
                                        <i class="fa fa-search"></i> Visualizar Album
                                    </button>
                                   
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 widget-container-col ui-sortable">
        <div class="widget-box ui-sortable-handle">
            <div class="widget-header">
                <h5 class="widget-title"> Listado de Fotos <i class="fa fa-list"></i></h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="space space-14"></div>
                            <div id="gvfotos"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 widget-container-col ui-sortable">
        <div class="widget-box ui-sortable-handle">
            <div class="widget-header">
                <h5 class="widget-title"> Comentarios  <i class="fa fa-list"></i></h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="space space-14"></div>
                            <div id="gvComentarios"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>