@{
    Layout = "_LayoutVistas";
}
<div id="divProgress" class="containermodal" style="display: none">
    <div class="ajaxProcessingContainerDiv">
        <div class="ajaxProcesingTable">
            <img src="~/assets/images/ajax-loader.gif" />
        </div>
    </div>
</div>
